@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* CRIAR VARIÃVEIS EM CSS */
:root {
    --cor0: #FFFFFF;
    --cor1: #f70b1f;
    --cor2: #a7a7a7;
    --cor3: #000000;
    --cor4: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--cor2);
}

.img {
    width: 100%;
    padding: 5px;
    background-color: var(--cor0);
}

h1{
    padding-top: 5px;
}

header p {
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px;
}

section {
    padding: 10px;
    /* background-color: var(--cor2); */
}

section>p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

section div {
    padding: 5px;
}

.identifica input {
    padding: 5px;
    min-width: 250px;
    max-width: 300px;
    border-radius: 10px;
    border: 2px solid gray;
}

form>div {
    padding: 10px;
    border: 2px solid var(--cor0);
    max-width: 500px;
    border-radius: 20px;
    margin: auto;
}

.btn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 100px;
    font-weight: bold;
    font-size: 1.1em;
}

.btn:hover {
    border: 2px solid var(--cor0);
    background-color: var(--cor3);
    color: var(--cor0);
}

form .titulo {
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

form .item {
    padding-left: 20px;
    text-align: left;
}

form .item>label {
    text-align: left;
    cursor: pointer;
}

form .item span {
    padding-left: 10px;
}

.foot {
    padding: 10px;
    color: var(--cor2);
    background-color: var(--cor3);
}